<h2>Add a New Landmark:</h2>
<form action="/landmarks" method="post">
  <label>Name: <input id="landmark_name" type="text" name="landmark[name]"></lable>
  <label>Year Completed: <input id="landmark_year_completed" type="text" name="landmark[year_completed]"></label>
  <input type="submit" value="Create New Landmark">
</form>

